[submodule "third_party/geos"]
	path = third_party/geos
	url = https://github.com/libgeos/geos.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2.git
