# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.pyc

# Local directories
.vs/
/build/
/out/
/_skbuild/
/dist/
/lib/
/third_party/
.idea/
cmake-build-*/
geodesk.egg-info/
src/geodesk.egg-info/
wheelhouse/
enc_temp_folder/

*.pyc
.~lock*
